[connectivity]
# --- 1. Kernel Instantiation (nk) ---
nk=graphyflow_little:11
nk=graphyflow_big:3
nk=hbm_writer:1
nk=apply_kernel:1
nk=little_merger:1
nk=big_merger:1

# --- 2. HBM Port Mapping (sp) ---

# -- Mapping for instance: graphyflow_little_1 --
sp=graphyflow_little_1.edge_props:HBM[0]

# -- Mapping for instance: graphyflow_little_2 --
sp=graphyflow_little_2.edge_props:HBM[2]

# -- Mapping for instance: graphyflow_little_3 --
sp=graphyflow_little_3.edge_props:HBM[4]

# -- Mapping for instance: graphyflow_little_4 --
sp=graphyflow_little_4.edge_props:HBM[6]

# -- Mapping for instance: graphyflow_little_5 --
sp=graphyflow_little_5.edge_props:HBM[8]

# -- Mapping for instance: graphyflow_little_6 --
sp=graphyflow_little_6.edge_props:HBM[10]

# -- Mapping for instance: graphyflow_little_7 --
sp=graphyflow_little_7.edge_props:HBM[12]

# -- Mapping for instance: graphyflow_little_8 --
sp=graphyflow_little_8.edge_props:HBM[14]

# -- Mapping for instance: graphyflow_little_9 --
sp=graphyflow_little_9.edge_props:HBM[16]

# -- Mapping for instance: graphyflow_little_10 --
sp=graphyflow_little_10.edge_props:HBM[18]

# -- Mapping for instance: graphyflow_little_11 --
sp=graphyflow_little_11.edge_props:HBM[20]

# -- Mapping for instance: graphyflow_big_1 --
sp=graphyflow_big_1.edge_props:HBM[22]

# -- Mapping for instance: graphyflow_big_2 --
sp=graphyflow_big_2.edge_props:HBM[24]

# -- Mapping for instance: graphyflow_big_3 --
sp=graphyflow_big_3.edge_props:HBM[26]

# -- Mapping for instance: hbm_writer_1 --
sp=hbm_writer_1.src_prop_1:HBM[1]
sp=hbm_writer_1.src_prop_2:HBM[3]
sp=hbm_writer_1.src_prop_3:HBM[5]
sp=hbm_writer_1.src_prop_4:HBM[7]
sp=hbm_writer_1.src_prop_5:HBM[9]
sp=hbm_writer_1.src_prop_6:HBM[11]
sp=hbm_writer_1.src_prop_7:HBM[13]
sp=hbm_writer_1.src_prop_8:HBM[15]
sp=hbm_writer_1.src_prop_9:HBM[17]
sp=hbm_writer_1.src_prop_10:HBM[19]
sp=hbm_writer_1.src_prop_11:HBM[21]
sp=hbm_writer_1.src_prop_12:HBM[23]
sp=hbm_writer_1.src_prop_13:HBM[25]
sp=hbm_writer_1.src_prop_14:HBM[27]
sp=hbm_writer_1.output:HBM[1]

# -- Mapping for instance: apply_kernel_1 --
sp=apply_kernel_1.node_props:HBM[30]

# --- 3. Stream Connections ---

# -- Stream connections for graphyflow_little_1 --
stream_connect=graphyflow_little_1.ppb_req_stream:hbm_writer_1.ppb_req_stream_1:16
stream_connect=hbm_writer_1.ppb_resp_stream_1:graphyflow_little_1.ppb_resp_stream:16
stream_connect=graphyflow_little_1.kernel_out_stream:little_merger_1.little_kernel_1_out_stream:16

# -- Stream connections for graphyflow_little_2 --
stream_connect=graphyflow_little_2.ppb_req_stream:hbm_writer_1.ppb_req_stream_2:16
stream_connect=hbm_writer_1.ppb_resp_stream_2:graphyflow_little_2.ppb_resp_stream:16
stream_connect=graphyflow_little_2.kernel_out_stream:little_merger_1.little_kernel_2_out_stream:16

# -- Stream connections for graphyflow_little_3 --
stream_connect=graphyflow_little_3.ppb_req_stream:hbm_writer_1.ppb_req_stream_3:16
stream_connect=hbm_writer_1.ppb_resp_stream_3:graphyflow_little_3.ppb_resp_stream:16
stream_connect=graphyflow_little_3.kernel_out_stream:little_merger_1.little_kernel_3_out_stream:16

# -- Stream connections for graphyflow_little_4 --
stream_connect=graphyflow_little_4.ppb_req_stream:hbm_writer_1.ppb_req_stream_4:16
stream_connect=hbm_writer_1.ppb_resp_stream_4:graphyflow_little_4.ppb_resp_stream:16
stream_connect=graphyflow_little_4.kernel_out_stream:little_merger_1.little_kernel_4_out_stream:16

# -- Stream connections for graphyflow_little_5 --
stream_connect=graphyflow_little_5.ppb_req_stream:hbm_writer_1.ppb_req_stream_5:16
stream_connect=hbm_writer_1.ppb_resp_stream_5:graphyflow_little_5.ppb_resp_stream:16
stream_connect=graphyflow_little_5.kernel_out_stream:little_merger_1.little_kernel_5_out_stream:16

# -- Stream connections for graphyflow_little_6 --
stream_connect=graphyflow_little_6.ppb_req_stream:hbm_writer_1.ppb_req_stream_6:16
stream_connect=hbm_writer_1.ppb_resp_stream_6:graphyflow_little_6.ppb_resp_stream:16
stream_connect=graphyflow_little_6.kernel_out_stream:little_merger_1.little_kernel_6_out_stream:16

# -- Stream connections for graphyflow_little_7 --
stream_connect=graphyflow_little_7.ppb_req_stream:hbm_writer_1.ppb_req_stream_7:16
stream_connect=hbm_writer_1.ppb_resp_stream_7:graphyflow_little_7.ppb_resp_stream:16
stream_connect=graphyflow_little_7.kernel_out_stream:little_merger_1.little_kernel_7_out_stream:16

# -- Stream connections for graphyflow_little_8 --
stream_connect=graphyflow_little_8.ppb_req_stream:hbm_writer_1.ppb_req_stream_8:16
stream_connect=hbm_writer_1.ppb_resp_stream_8:graphyflow_little_8.ppb_resp_stream:16
stream_connect=graphyflow_little_8.kernel_out_stream:little_merger_1.little_kernel_8_out_stream:16

# -- Stream connections for graphyflow_little_9 --
stream_connect=graphyflow_little_9.ppb_req_stream:hbm_writer_1.ppb_req_stream_9:16
stream_connect=hbm_writer_1.ppb_resp_stream_9:graphyflow_little_9.ppb_resp_stream:16
stream_connect=graphyflow_little_9.kernel_out_stream:little_merger_1.little_kernel_9_out_stream:16

# -- Stream connections for graphyflow_little_10 --
stream_connect=graphyflow_little_10.ppb_req_stream:hbm_writer_1.ppb_req_stream_10:16
stream_connect=hbm_writer_1.ppb_resp_stream_10:graphyflow_little_10.ppb_resp_stream:16
stream_connect=graphyflow_little_10.kernel_out_stream:little_merger_1.little_kernel_10_out_stream:16

# -- Stream connections for graphyflow_little_11 --
stream_connect=graphyflow_little_11.ppb_req_stream:hbm_writer_1.ppb_req_stream_11:16
stream_connect=hbm_writer_1.ppb_resp_stream_11:graphyflow_little_11.ppb_resp_stream:16
stream_connect=graphyflow_little_11.kernel_out_stream:little_merger_1.little_kernel_11_out_stream:16

# -- Stream connections for graphyflow_big_1 --
stream_connect=graphyflow_big_1.cacheline_req_stream:hbm_writer_1.cacheline_req_stream_1:16
stream_connect=hbm_writer_1.cacheline_resp_stream_1:graphyflow_big_1.cacheline_resp_stream:16
stream_connect=graphyflow_big_1.kernel_out_stream:big_merger_1.big_kernel_1_out_stream:16

# -- Stream connections for graphyflow_big_2 --
stream_connect=graphyflow_big_2.cacheline_req_stream:hbm_writer_1.cacheline_req_stream_2:16
stream_connect=hbm_writer_1.cacheline_resp_stream_2:graphyflow_big_2.cacheline_resp_stream:16
stream_connect=graphyflow_big_2.kernel_out_stream:big_merger_1.big_kernel_2_out_stream:16

# -- Stream connections for graphyflow_big_3 --
stream_connect=graphyflow_big_3.cacheline_req_stream:hbm_writer_1.cacheline_req_stream_3:16
stream_connect=hbm_writer_1.cacheline_resp_stream_3:graphyflow_big_3.cacheline_resp_stream:16
stream_connect=graphyflow_big_3.kernel_out_stream:big_merger_1.big_kernel_3_out_stream:16

# -- Stream connections for little_merger_1 --
stream_connect=little_merger_1.kernel_out_stream:apply_kernel_1.little_kernel_out_stream:16

# -- Stream connections for big_merger_1 --
stream_connect=big_merger_1.kernel_out_stream:apply_kernel_1.big_kernel_out_stream:16

# -- Stream connections for apply_kernel_1 --
stream_connect=apply_kernel_1.kernel_out_stream:hbm_writer_1.write_burst_stream:16

# --- 4. SLR Placement ---
slr=graphyflow_little_1:SLR0
slr=graphyflow_little_2:SLR1
slr=graphyflow_little_3:SLR2
slr=graphyflow_little_4:SLR0
slr=graphyflow_little_5:SLR1
slr=graphyflow_little_6:SLR2
slr=graphyflow_little_7:SLR0
slr=graphyflow_little_8:SLR1
slr=graphyflow_little_9:SLR2
slr=graphyflow_little_10:SLR0
slr=graphyflow_little_11:SLR1
slr=graphyflow_big_1:SLR2
slr=graphyflow_big_2:SLR1
slr=graphyflow_big_3:SLR2
slr=hbm_writer_1:SLR0
slr=apply_kernel_1:SLR1
slr=little_merger_1:SLR1
slr=big_merger_1:SLR1
