[connectivity]
# --- 1. Kernel Instantiation (nk) ---
nk=graphyflow_big:1
nk=hbm_manager:1
# nk=graphyflow_little:3

# --- 2. HBM Port Mapping (sp) ---

# -- Mapping for instance: graphyflow_big_1 --
sp=graphyflow_big_1.src_ids:HBM[0]
sp=graphyflow_big_1.edge_props:HBM[0]
sp=graphyflow_big_1.output:HBM[1]

sp=hbm_manager_1.node_distances:HBM[2]

stream_connect=graphyflow_big_1.stream_outer_cache_req:hbm_manager_1.cacheline_req_stream:16
stream_connect=hbm_manager_1.cacheline_resp_stream:graphyflow_big_1.stream_outer_cache_resp:16
stream_connect=hbm_manager_1.node_dist_stream:graphyflow_big_1.stream_outer_node_dist:16

# -- Mapping for instance: graphyflow_big_2 --
# sp=graphyflow_big_2.src_ids:HBM[2]
# sp=graphyflow_big_2.edge_props:HBM[2]
# sp=graphyflow_big_2.node_props:HBM[2]
# sp=graphyflow_big_2.output:HBM[3]

# # -- Mapping for instance: graphyflow_big_3 --
# sp=graphyflow_big_3.src_ids:HBM[4]
# sp=graphyflow_big_3.edge_props:HBM[4]
# sp=graphyflow_big_3.node_props:HBM[4]
# sp=graphyflow_big_3.output:HBM[5]

# # -- Mapping for instance: graphyflow_little_1 --
# sp=graphyflow_little_1.src_ids:HBM[6]
# sp=graphyflow_little_1.edge_props:HBM[6]
# sp=graphyflow_little_1.node_props:HBM[6]
# sp=graphyflow_little_1.output:HBM[7]

# # -- Mapping for instance: graphyflow_little_2 --
# sp=graphyflow_little_2.src_ids:HBM[8]
# sp=graphyflow_little_2.edge_props:HBM[8]
# sp=graphyflow_little_2.node_props:HBM[8]
# sp=graphyflow_little_2.output:HBM[9]

# # -- Mapping for instance: graphyflow_little_3 --
# sp=graphyflow_little_3.src_ids:HBM[10]
# sp=graphyflow_little_3.edge_props:HBM[10]
# sp=graphyflow_little_3.node_props:HBM[10]
# sp=graphyflow_little_3.output:HBM[11]

# # -- Mapping for instance: graphyflow_little_4 --
# sp=graphyflow_little_4.src_ids:HBM[12]
# sp=graphyflow_little_4.edge_props:HBM[12]
# sp=graphyflow_little_4.node_props:HBM[12]
# sp=graphyflow_little_4.output:HBM[13]

# # -- Mapping for instance: graphyflow_little_5 --
# sp=graphyflow_little_5.src_ids:HBM[14]
# sp=graphyflow_little_5.edge_props:HBM[14]
# sp=graphyflow_little_5.node_props:HBM[14]
# sp=graphyflow_little_5.output:HBM[15]

# # -- Mapping for instance: graphyflow_little_6 --
# sp=graphyflow_little_6.src_ids:HBM[16]
# sp=graphyflow_little_6.edge_props:HBM[16]
# sp=graphyflow_little_6.node_props:HBM[16]
# sp=graphyflow_little_6.output:HBM[17]

slr=graphyflow_big_1:SLR0
slr=hbm_manager_1:SLR0
# slr=graphyflow_big_2:SLR1
# slr=graphyflow_big_3:SLR2
# slr=graphyflow_little_1:SLR0
# slr=graphyflow_little_2:SLR1
# slr=graphyflow_little_3:SLR2
# slr=graphyflow_little_4:SLR1
# slr=graphyflow_little_5:SLR2
# slr=graphyflow_little_6:SLR2
