#include "shared_kernel_params.h"

struct little_ppb_resp_t {
    bus_word_t data;
    uint32_t dest;
    bool last;
};

static void
little_response_packer(int i, hls::stream<little_ppb_resp_t> &prop_loader_out,
                       hls::stream<ppb_response_pkt_t> &ppb_response_stm,
                       uint32_t num_partitions) {

#pragma HLS function_instantiate variable = i

    uint32_t left_partitions = num_partitions;
LOOP_PACK_RESPONSES:
    while (true) {
#pragma HLS PIPELINE II = 1
        little_ppb_resp_t prop_data = prop_loader_out.read();
        ppb_response_pkt_t ppb_response;
        ppb_response.data = prop_data.data;
        ppb_response.dest = prop_data.dest;
        ppb_response.last = prop_data.last;
        ppb_response_stm.write(ppb_response);
        if (prop_data.last) {
            left_partitions--;
        }
        if (left_partitions == 0) {
            break;
        }
    }
}

static void little_node_prop_loader(
    int i, const bus_word_t *node_distances_ddr, uint32_t num_partitions,
    hls::stream<ppb_request_pkt_t> &ppb_req_stream,
    hls::stream<little_ppb_resp_t> &ppb_resp_stream
    // hls::stream<cacheline_data_pkt_t> &cacheline_data_stream
) {
#pragma HLS function_instantiate variable = i

    uint32_t left_partitions = num_partitions;

littleKernelReadMemory:
    while (true) {
#pragma HLS PIPELINE
        ppb_request_pkt_t one_ppb_request_pkg;
        if (ppb_req_stream.read_nb(one_ppb_request_pkg)) {
            uint32_t request_round = one_ppb_request_pkg.data;
            bool end_flag = one_ppb_request_pkg.last;

            uint32_t base_addr = request_round << LOG_SRC_BUFFER_SIZE >> 4;

            if (end_flag) {
                little_ppb_resp_t one_ppb_response_pkg;
                one_ppb_response_pkg.last = end_flag;
                ppb_resp_stream.write(one_ppb_response_pkg);
                left_partitions--;
                if (left_partitions == 0) {
                    break;
                }
            } else {
                for (int i = 0; i < (SRC_BUFFER_SIZE >> 4); i++) {
                    uint32_t addr = base_addr + i;
                    little_ppb_resp_t one_ppb_response_pkg;
                    one_ppb_response_pkg.data = node_distances_ddr[addr];
                    one_ppb_response_pkg.dest = addr;
                    one_ppb_response_pkg.last = false;
                    ppb_resp_stream.write(one_ppb_response_pkg);
                }
            }
        }
    }
}

static void big_node_prop_loader(
    int i, const bus_word_t *node_distances_ddr, uint32_t num_partitions,
    hls::stream<cacheline_request_pkt_t> &cacheline_req_stream,
    hls::stream<cacheline_response_pkt_t> &cacheline_resp_stream
    // hls::stream<cacheline_data_pkt_t> &cacheline_data_stream
) {
#pragma HLS function_instantiate variable = i

    cacheline_request_pkt_t cache_req;
    cacheline_response_pkt_t cache_resp;

    ap_uint<NODE_ID_BITWIDTH - LOG_DIST_PER_WORD> last_cache_idx = -1;
    bus_word_t last_cacheline;

    uint32_t left_partitions = num_partitions;

LOOP_BIG_KRL_READ_MEMORY:
    while (true) {
#pragma HLS PIPELINE II = 1
        bool process_flag = cacheline_req_stream.read_nb(cache_req);

        ap_uint<26> idx = cache_req.data;
        ap_uint<8> target_pe = cache_req.dest;
        bool end_flag = cache_req.last;

        ap_uint<8> dst_pe;
        bus_word_t out_data;
        bool out_end_flag;

        if (process_flag) {
            if (end_flag) {
                out_data = 0;
                last_cache_idx = -1;
                left_partitions--;
            } else {
                if (idx == last_cache_idx) {
                    out_data = last_cacheline;
                } else {
                    out_data = node_distances_ddr[idx];
                    last_cache_idx = idx;
                    last_cacheline = out_data;
                }
            }

            out_end_flag = end_flag;
            dst_pe = target_pe;

            cache_resp.data = out_data;
            cache_resp.dest = dst_pe;
            cache_resp.last = out_end_flag;
            cacheline_resp_stream.write(cache_resp);
        }
        if (left_partitions == 0) {
            break;
        }
    }
}

void write_out(bus_word_t *output,
               hls::stream<write_burst_w_dst_pkt_t> &write_burst_stream) {
LOOP_WRITE_OUT:
    while (true) {
#pragma HLS PIPELINE II = 1

        write_burst_w_dst_pkt_t one_write_burst;

        if (write_burst_stream.read_nb(one_write_burst)) {
            uint32_t dest_addr = one_write_burst.dest;
            bus_word_t data = one_write_burst.data;
            bool end_flag = one_write_burst.last;

            if (end_flag) {
                break;
            }

            output[dest_addr] = data;
        }
    }
}

extern "C" void hbm_writer(
{{SRC_PROP_PARAMS}}
    bus_word_t *output,
{{NUM_PARTITIONS_PARAMS}}
{{PPB_STREAM_PARAMS}}
{{CACHELINE_STREAM_PARAMS}}
    hls::stream<write_burst_w_dst_pkt_t> &write_burst_stream) {
{{SRC_PROP_M_AXI_PRAGMAS}}
#pragma HLS INTERFACE m_axi port = output offset = slave bundle = gmem1
{{SRC_PROP_S_AXILITE_PRAGMAS}}
#pragma HLS INTERFACE s_axilite port = output bundle = control
{{NUM_PARTITION_PRAGMAS}}
#pragma HLS INTERFACE s_axilite port = return bundle = control
#pragma HLS DATAFLOW

{{LITTLE_PROP_LOADER_OUT_STREAMS}}

{{LITTLE_NODE_PROP_LOADER_CALLS}}

{{BIG_NODE_PROP_LOADER_CALLS}}

    write_out(output, write_burst_stream);
}


