#ifndef __HOST_CONFIG_H__
#define __HOST_CONFIG_H__

#include <stdint.h>

#define BIG_KERNEL_NUM {{BIG_KERNEL_NUM}}
#define LITTLE_KERNEL_NUM {{LITTLE_KERNEL_NUM}}

#define NUM_LITTLE_MERGERS {{NUM_LITTLE_MERGERS}}
#define NUM_BIG_MERGERS {{NUM_BIG_MERGERS}}

#define NUM_KERNEL (BIG_KERNEL_NUM + LITTLE_KERNEL_NUM)

static constexpr uint32_t LITTLE_MERGER_PIPELINE_LENGTHS[] = { {{LITTLE_MERGER_PIPELINE_LENGTHS}} };
static constexpr uint32_t LITTLE_MERGER_KERNEL_OFFSETS[] = { {{LITTLE_MERGER_KERNEL_OFFSETS}} };
static constexpr uint32_t BIG_MERGER_PIPELINE_LENGTHS[] = { {{BIG_MERGER_PIPELINE_LENGTHS}} };
static constexpr uint32_t BIG_MERGER_KERNEL_OFFSETS[] = { {{BIG_MERGER_KERNEL_OFFSETS}} };
static constexpr uint32_t LITTLE_KERNEL_GROUP_ID[] = { {{LITTLE_KERNEL_GROUP_ID}} };
static constexpr uint32_t BIG_KERNEL_GROUP_ID[] = { {{BIG_KERNEL_GROUP_ID}} };

#define LITTLE_KERNEL_HBM_EDGE_ID { {{LITTLE_KERNEL_HBM_EDGE_ID}} }
#define LITTLE_KERNEL_HBM_NODE_ID { {{LITTLE_KERNEL_HBM_NODE_ID}} }
#define BIG_KERNEL_HBM_EDGE_ID { {{BIG_KERNEL_HBM_EDGE_ID}} }
#define BIG_KERNEL_HBM_NODE_ID { {{BIG_KERNEL_HBM_NODE_ID}} }

#endif /* __HOST_CONFIG_H__ */
