[connectivity]

# --- 1. Kernel Instantiation (nk) ---
nk=graphyflow_little:1
nk=graphyflow_big:1
nk=hbm_writer:1
nk=apply_kernel:1
nk=little_merger:1
nk=big_merger:1

# --- 2. HBM Port Mapping (sp) ---

# -- Mapping for instance: graphyflow_little_1 --
sp=graphyflow_little_1.edge_props:HBM[0]

# -- Mapping for instance: graphyflow_big_1 --
sp=graphyflow_big_1.edge_props:HBM[22]

# -- Mapping for instance: hbm_writer_1 --
# little first then big
sp=hbm_writer_1.src_prop_1:HBM[1]
sp=hbm_writer_1.src_prop_2:HBM[23]
sp=hbm_writer_1.output:HBM[1]

# -- Mapping for instance: apply_kernel_1 --
sp=apply_kernel_1.node_props:HBM[30]

# --- 3. Stream Connections ---

# -- Stream connections for graphyflow_little_1 --
stream_connect=graphyflow_little_1.ppb_req_stream:hbm_writer_1.ppb_req_stream_1
stream_connect=hbm_writer_1.ppb_resp_stream_1:graphyflow_little_1.ppb_resp_stream
stream_connect=graphyflow_little_1.kernel_out_stream:little_merger_1.little_kernel_1_out_stream:16

# -- Stream connections for graphyflow_big_1 --
stream_connect=graphyflow_big_1.cacheline_req_stream:hbm_writer_1.cacheline_req_stream_1:16
stream_connect=hbm_writer_1.cacheline_resp_stream_1:graphyflow_big_1.cacheline_resp_stream:16
stream_connect=graphyflow_big_1.kernel_out_stream:big_merger_1.big_kernel_1_out_stream:16

# -- Stream connections for little_merger_1 --
stream_connect=little_merger_1.kernel_out_stream:apply_kernel_1.little_kernel_out_stream

# -- Stream connections for big_merger_1 --
stream_connect=big_merger_1.kernel_out_stream:apply_kernel_1.big_kernel_out_stream

# -- Stream connections for apply_kernel_1 --
stream_connect=apply_kernel_1.kernel_out_stream:hbm_writer_1.write_burst_stream:16

# --- 4. SLR Placement ---
slr=graphyflow_little_1:SLR0
slr=graphyflow_big_1:SLR2
slr=hbm_writer_1:SLR0
slr=apply_kernel_1:SLR1
slr=little_merger_1:SLR1
slr=big_merger_1:SLR1
